// Charset
@charset "UTF-8";

// Libs
@import "bourbon";
// Reset and normalize
@import "normalize";
@import "reset";
@import "normalize-opentype";


@import "base";

#site-canvas {
  position: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid #ccc;
}
