// Charset
@charset "UTF-8";

// Libs
@import "bourbon";
// Reset and normalize
@import "normalize";
@import "reset";
@import "normalize-opentype";


@import "base";

#site-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px;

  & > div {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    &:hover { background-color: #eee; }
    &.active { background-color: #daa; }
  }
}
